.address {
  color: var(--main-background-color);
  font-style: normal;
  font-size: var(--main-font-size);
  line-height: 1.71;
  letter-spacing: var(--main-letter-spacing);
  margin-top: 20px;
  margin-bottom: 8px;
}
