@use "../utils" as *;

.address {
  color: var(--main-background-color);
  font-style: normal;
  font-size: var(--main-font-size);
  line-height: var(--third-line-height);
  letter-spacing: var(--main-letter-spacing);
  margin-top: 20px;
  margin-bottom: 8px;

  @include rwd(var(--desktop)) {
    margin-bottom: 9px;
  }
}
