.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 94px;
}

.buttons__item {
  color: var(--main-text-color);
  background-color: var(--secondary-background-color);
  font-weight: var(--secondary-font-weight);
  line-height: 1.63;
  letter-spacing: var(--main-letter-spacing);
  border-radius: var(--main-border-radius);
  border: none;
  cursor: var(--pointer);
  padding: 6px 22px;
  transition: color var(--transition-duration) var(--cubic-bezier),
    background-color var(--transition-duration) var(--cubic-bezier),
    box-shadow var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--main-background-color);
    background-color: var(--main-selection-color);
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
      0 2px 2px rgba(0, 0, 0, 0.12);
  }
}
