@use "../utils" as *;
$checkboxMaxW: 470px;

.checkbox {
  opacity: 0;
  position: absolute;
  top: 6px;
  left: 2px;

  @include max-width($checkboxMaxW) {
    top: 16px;
    left: 6px;
  }

  &:checked {
    + .checkbox__label {
      &::before {
        background-color: var(--main-selection-color);
        border: none;
      }

      & .checkbox__icon {
        opacity: 1;
      }
    }
  }
}

.checkbox__label {
  @include label;
  margin-bottom: 30px;

  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: calc(var(--main-border-radius) - 2px);
    pointer-events: auto;
    cursor: var(--pointer);
    transition: background-color 75ms ease-in, border 25ms linear;
    margin-right: 8px;

    @include max-width($checkboxMaxW) {
      position: absolute;
      top: 12px;
      left: -36px;
    }

    @include rwd(var(--desktop)) {
      margin-left: 15px;
    }
  }
}

.checkbox__icon {
  fill: var(--main-background-color);
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 3px;
  cursor: var(--pointer);
  transition: opacity 75ms ease-in;

  @include max-width($checkboxMaxW) {
    top: 15px;
    left: -33px;
  }

  @include max-height-landscape(648px) {
    top: 6px;
  }

  @include rwd(var(--desktop)) {
    top: 7px;
    left: 18px;
  }
}

.checkbox__text {
  color: var(--secondary-text-color);
  font-size: var(--secondary-font-size);
  line-height: var(--third-line-height);
  letter-spacing: var(--main-letter-spacing);

  @include rwd(var(--desktop)) {
    font-size: var(--main-font-size);
  }
}

.checkbox__link {
  color: var(--main-selection-color);
  pointer-events: auto;
  cursor: var(--pointer);
}
