@use "../utils" as *;

footer {
  background-color: #2f303a;
  padding: 60px 15px;
}

.footer {
  @include rwd(var(--tablet)) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__box {
  text-align: var(--text-center);
}
