@use "../utils" as *;

footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer {
  @include rwd(var(--tablet)) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-inline: 15px;
  }

  @include rwd(var(--desktop)) {
    justify-content: space-between;
  }
}

.footer__box {
  text-align: var(--text-center);

  @include rwd(var(--desktop)) {
    text-align: initial;
  }
}
