footer {
  background-color: #2f303a;
  padding: 60px 0;
}

// .footer {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

.footer__box {
  text-align: var(--text-center);
}
