@use "../utils" as *;
$letterSpacingForm: 0.01em;

.form {
  padding: 40px;
}

.form__header {
  color: var(--main-text-color);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: var(--main-letter-spacing);
  text-align: var(--text-center);
  margin-bottom: 12px;

  @include rwd(var(--desktop)) {
    line-height: 1.15;
  }
}

.form__label {
  @include label;
}

.form__text {
  color: var(--secondary-text-color);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: $letterSpacingForm;
  margin-left: 5px;
  margin-bottom: 4px;
}

.form__icon {
  fill: var(--main-text-color);
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill var(--transition-duration) var(--cubic-bezier);
}

.form__box {
  position: relative;

  &:focus-within {
    .form__icon {
      fill: var(--main-selection-color);
    }
  }

  &--checkbox {
    @include max-width(470px) {
      width: 232px;
      text-align: center;
      padding-left: 40px;
      margin: auto;
    }
  }
}

%outlined {
  width: 100%;
  @include bordered(rgba(33, 33, 33, 0.2));
  border-radius: var(--main-border-radius);
  outline: none;
  transition: border-color var(--transition-duration) var(--cubic-bezier);

  &:focus {
    border-color: var(--main-selection-color);
  }
}

.form__input {
  @extend %outlined;
  padding-block: 10px;
  padding-left: 41px;
  margin-bottom: 10px;
}

.form__comment {
  @extend %outlined;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 15px;

  &::placeholder {
    color: var(--secondary-text-color);
    opacity: 0.5;
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    letter-spacing: $letterSpacingForm;

    @include rwd(var(--desktop)) {
      font-size: var(--secondary-font-size);
      line-height: var(--secondary-line-height);
    }
  }
}

.form__btn-case {
  display: flex;
  justify-content: center;
}

.form__btn {
  @include btn;
  padding: 10px 76px;
}
