@use "../utils" as *;

.logo-box {
  @include rwd(var(--desktop)) {
    flex-grow: 1;
  }
}

.logo {
  color: var(--main-selection-color);
  font-family: "Raleway";
  font-weight: var(--main-font-weight);
  font-size: 24px;
  line-height: var(--secondary-line-height);
  letter-spacing: var(--main-letter-spacing);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include rwd(var(--desktop)) {
    font-size: 26px;
    line-height: 1.19;
  }

  &--color-change {
    color: var(--secondary-icons-color);
  }

  &--color-switch {
    color: var(--main-background-color);
  }
}
