@use "../utils" as *;

.mobile-menu {
  background-color: var(--main-background-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  overflow-y: scroll;
  padding-block: 48px;
  padding-left: 40px;
  transform: translateX(100%);
  transition: transform 0.5s var(--cubic-bezier);

  &.is-open {
    transform: translateX(0);
  }

  @include max-width(420px) {
    padding-left: 20px;
  }

  @include rwd(var(--tablet)) {
    display: none;
  }
}

.mobile-menu__toggle {
  width: 40px;
  height: 40px;
  background-color: var(--main-background-color);
  border: none;
  padding: 0;

  &--setup {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  @include rwd(var(--tablet)) {
    display: none;
  }
}

.mobile-menu__icon {
  fill: var(--secondary-icons-color);
  cursor: var(--pointer);
  transition: fill var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--main-selection-color);
  }
}
