@use "../utils" as *;

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-gap) + 2px);
  margin-bottom: 302px;

  @include max-height(635px) {
    margin-bottom: 120px;
  }

  @include max-height-landscape(644px) {
    margin-bottom: 70px;
  }

  @include max-height-landscape(350px) {
    margin-bottom: 40px;
  }
}

.mobile-nav__link {
  color: var(--main-text-color);
  font-weight: var(--secondary-font-weight);
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: var(--secondary-letter-spacing);
  transition: color var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--main-selection-color);
  }

  &--color {
    color: var(--main-selection-color);
  }
}
