@use "../utils" as *;

.modal {
  position: relative;
  margin: auto;
  background-color: var(--main-background-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--main-border-radius);
  width: 94%;
  max-width: 450px;
  height: 94%;
  max-height: 609px;

  @include max-width(470px) {
    overflow-y: scroll;
  }

  @include max-height-landscape(648px) {
    overflow-y: scroll;
  }

  @include rwd(var(--desktop)) {
    width: 528px;
    height: 581px;
    max-width: none;
    max-height: none;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-background-color);
  @include bordered(rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  cursor: var(--pointer);
  padding: 0;

  &:hover,
  &:focus {
    .modal__icon {
      fill: var(--main-selection-color);
    }
  }
}

.modal__icon {
  fill: var(--secondary-icons-color);
  transition: fill var(--transition-duration) var(--cubic-bezier);
  position: absolute;
  top: 9px;
  left: 8px;
}
