@use "../utils" as *;

.newsletter {
  padding-top: 11px;
  padding-right: 15px;
}

.newsletter__text {
  color: var(--main-background-color);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
  text-transform: var(--uppercase);
  margin-bottom: 20px;
}

.newsletter__input {
  color: var(--main-background-color);
  background-color: inherit;
  width: 95%;
  @include bordered(rgba(255, 255, 255, 0.3));
  border-radius: var(--main-border-radius);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  padding: 15px 16px;
  margin-right: 8px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.25;
    letter-spacing: var(--main-letter-spacing);
  }
}

.newsletter__btn {
  @include btn;
  position: relative;
  padding: 10px 76px 10px 42px;
}

.newsletter__icon-send {
  --icon-send: currentColor;
  position: absolute;
  top: 13px;
  right: 28px;
}
