@use "../utils" as *;

.section {
  padding: 60px 0;
}

.strengths.section {
  @include rwd(var(--tablet)) {
    padding-bottom: 45px;
  }
}

.section__header {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: var(--main-letter-spacing);
  text-align: var(--text-center);
  margin-bottom: 30px;
}
