.sm-mobile-menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.sm-mobile-menu__item {
  position: relative;

  &::after {
    content: "";
    width: 1px;
    height: 22px;
    position: absolute;
    top: -1px;
    right: -10px;
    background-color: var(--main-text-color);
    opacity: 0.2;
  }
}

@media (max-width: 385px) {
  .sm-mobile-menu {
    gap: 12px;
  }

  .sm-mobile-menu__item::after {
    right: -6px;
  }
}

.sm-mobile-menu__link {
  color: var(--main-selection-color);
  font-size: 18px;
  font-weight: var(--secondary-font-weight);
  line-height: 1.22;
  letter-spacing: var(--secondary-letter-spacing);
}

@media (max-width: 360px) {
  .sm-mobile-menu__link {
    font-size: 15px;
  }
}
