@use "../utils" as *;

.container {
  max-width: var(--mobile);
  margin: 0 auto;

  @include rwd(var(--tablet)) {
    max-width: var(--tablet);
  }

  @include rwd(var(--desktop)) {
    max-width: var(--desktop);
  }
}
