.backdrop {
  background-color: rgba(0 0 0 / 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  transition: opacity var(--transition-duration) var(--cubic-bezier),
    visibility var(--transition-duration) var(--cubic-bezier);
}
