@use "./mixins" as *;

.d-none {
  @include max-value(1199px) {
    display: none;
  }
}

.d-none-nav-contacts {
  @include max-value(767px) {
    display: none;
  }
}

ul.d-none-nav-contacts {
  @include max-value(767px) {
    display: none;
  }
}
