@use "./variables" as *;
@use "./mixins" as *;

.d-none {
  @include max-width($maxTablet) {
    display: none;
  }
}

.d-none-nav-contacts {
  @include max-width(767px) {
    display: none;
  }
}

ul.d-none-nav-contacts {
  @include max-width(767px) {
    display: none;
  }
}
