:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --main-selection-color: #2196f3;
  --main-icons-color: #afb1b8;
  --main-font-size: 14px;
  --main-font-weight: 700;
  --main-line-height: 1.14;
  --main-letter-spacing: 0.03em;
  --text-center: center;
  --uppercase: uppercase;
  --main-border-radius: 4px;
  --pointer: pointer;
  --main-gap: 30px;
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
